<a href="https://colab.research.google.com/github/yoosoo13/yoosoo13/blob/main/%ED%98%BC%EA%B3%B5%ED%8C%8C/%ED%98%BC%EA%B3%B5%ED%8C%8C2_JSON%2CXML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 파이썬에서 JSON 데이터 다루기

In [ ]:
d = {"name" : "혼자 공부하는 데이터 분석"}
print(d['name'])

혼자 공부하는 데이터 분석

In [ ]:
# 데이터타입 확인
print(type(d))

<class 'dict'>

### 파이썬 객체를 JSON 문자열로 변환하기
- json.dumps()함수 사용
- 파이썬의 json 패키지를 사용해서 딕셔너리 d를 JSON형식에 맞는 문자열로 바꾸기

In [ ]:
# json패키지 불러오기
import json

# 딕셔너리 d를 JSON형식에 맞는 문자열로 바꾸기
# json.dumps()함수는 아스키ASCII문자 외의 다른 문자를 16진수로 출력하므로, 한글이 안보임
# 한글을 보이게 하기 위해서 ensure_ascii매개변수를 False로 지정하여, 원래 저장된 문자를 그대로 출력함
d_str = json.dumps(d, ensure_ascii=False)
print(d_str)

{"name": "혼자 공부하는 데이터 분석"}

In [ ]:
# 데이터타입 확인
print(type(d_str))

<class 'str'>

### JSON 문자열을 파이썬 객체로 변환하기
- json.loads()함수사용
- JSON 문자열을 파이썬 프로그램에서 사용하려면, 다시 파이썬 딕셔너리로 바꾸어야함

<img src = "https://drive.google.com/uc?id=11eLCKuVlNvWqI9uy9UI4_RYzt6VqW01i" height = 200 width = 600>

In [ ]:
d2 = json.loads(d_str)
print(d2['name'])

혼자 공부하는 데이터 분석

In [ ]:
# d2 데이터타입 확인
print(type(d2))

<class 'dict'>

### 여러 개의 항목이 들어 있는 딕셔너리 생성

In [ ]:
# name(도서명) 외에 저자, 발행 연도 추가
d3 = json.loads('{"name" : "혼자 공부하는 데이터 분석", "author" : "박해선", "year" : 2022}')
print(d3['name'])
print(d3['author'])
print(d3['year'])

혼자 공부하는 데이터 분석
박해선
2022

## 딕셔너리 안에 리스트를 포함할 수 있는가?

In [ ]:
d3 = json.loads('{"name" : "혼자 공부하는 데이터 분석", "author" : ["박해선", "홍길동"], "year" : 2022}')
print(d3['author'])
print(d3['author'][0])
print(d3['author'][1])

['박해선', '홍길동']
박해선
홍길동

In [ ]:
print(type(d3))

<class 'dict'>

## 여러 개의 도서를 포함시킬 수 있는 더 복잡한 구조 만들기

In [ ]:
d4_str = """
    [
        {"name" : "혼자 공부하는 데이터 분석", "author" : "박해선", "year" : 2022}
        , {"name" : "혼자 공부하는 머신러닝+딥러닝", "author" : "박해선", "year" : 2020}
    ]
    """
d4 = json.loads(d4_str)
print(d4[0]['name'])

혼자 공부하는 데이터 분석

In [ ]:
print(type(d4))

<class 'list'>

In [ ]:
print(type(d4_str))

<class 'str'>

### JSON 문자열을 데이터프레임으로 변환
- [방법1] read_json()함수 사용
- [방법2] JSON 문자열을 파이썬 객체로 만든 다음 DataFrame클래스 사용

In [ ]:
# [방법1]
import pandas as pd
pd.read_json(d4_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

In [ ]:
# [방법2]
pd.DataFrame(d4)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020

____
# 파이썬에서 XML 데이터 다루기
- xml패키지는 XML 문서를 읽고 쓸 수 있는 간편한 API를 제공

In [ ]:
# XML 문자열을 파이썬 객체로 변환
# fromstring()함수

x_str = """
<book>
    <name>혼자 공부하는 데이터 분석</name>
    <author>박해선</author>
    <year>2022</year>
</book>
"""

In [ ]:
# x_str문자열을 XML로 변환
import xml.etree.ElementTree as et
book = et.fromstring(x_str)

In [ ]:
# 데이터타입 확인
print(type(book))  # fromstring()함수가 반홚하는 객체는 단순한 파이썬 객체가 아님(ElementTree모듈의 Element 클래스의 객체임)

<class 'xml.etree.ElementTree.Element'>

In [ ]:
# book객체의 tag 속성 출력 > 엘리먼트 이름 쉽게 확인 가능
print(book.tag)

book

In [ ]:
# 자식 엘리먼트
book_childs = list(book) # 리스트로 변환할 때는 list()함수 사용
print(book_childs)

[<Element 'name' at 0x7f9f0419d120>, <Element 'author' at 0x7f9f0419f5b0>, <Element 'year' at 0x7f9f0419ce00>]

In [ ]:
# book_childs 리스트 각 항목을 name, author, year변수에 할당하고 text속성으로 엘리멘트에 있는 텍스트 출력
name, author, year = book_childs
print(name.text)
print(author.text)
print(year.text)

혼자 공부하는 데이터 분석
박해선
2022

In [ ]:
# 자식 엘리먼트 확인
# findtext() 메서드 > 사용하면, 해당하는 자식 엘리멘트를 탐색→자동으로 텍스트 반환
name = book.findtext('name')
author = book.findtext('author')
year = book.findtext('year')
print(name)
print(author)
print(year)

혼자 공부하는 데이터 분석
박해선
2022

### 조금 더 복잡한 XML문서 만들기
- 두 개의 <book> 엘리먼트가 있다면 어떻게 표현해야할까?
- JSON과 달리 XML은 배열 같은 구조가 없다.
- 따라서 두 개의 <book> 엘리먼트를 감싸는 부모 엘리먼트를 만든다

In [ ]:
# 조금 더 복잡한 XML문서 만들기
x2_str = """
<books>
    <book>
        <name>혼자 공부하는 데이터 분석</name>
        <author>박해선</author>
        <year>2022</year>
    </book>
    <book>
        <name>혼자 공부하는 머신러닝+딥러닝</name>
        <author>박해선</author>
        <year>2020</year>
    </book>
</books>
"""

In [ ]:
books = et.fromstring(x2_str)
print(books.tag)

books

In [ ]:
# 여러 개의 자식 엘리먼트 확인하기
# findall()메서드, for문 사용
for book in books.findall('book'):
  name = book.findtext('name')
  author = book.findtext('author')
  year = book.findtext('year')
  print(name)
  print(author)
  print(year)
  print()

혼자 공부하는 데이터 분석
박해선
2022

혼자 공부하는 머신러닝+딥러닝
박해선
2020

In [ ]:
# XML을 판다스 데이터프레임으로 변환
# read_xml()함수 사용
pd.read_xml(x2_str)

               name author  year
0    혼자 공부하는 데이터 분석    박해선  2022
1  혼자 공부하는 머신러닝+딥러닝    박해선  2020