<a href="https://colab.research.google.com/github/yoosoo13/yoosoo13/blob/main/%ED%98%BC%EA%B3%B5%ED%8C%8C/%ED%98%BC%EA%B3%B5%ED%8C%8C_1%EC%A3%BC%EC%B0%A8(%EB%82%A8%EC%82%B0%EB%8F%84%EC%84%9C%EA%B4%80).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 2023년 6월 남산도서관 정서 대출목록 불러오기

In [ ]:
import gdown
gdown.download('https://drive.google.com/uc?id=1VXoX1XGLJ-3pMasIsY-IRBfrtAv0oNCq',
              '남산도서관 장서 대출목록 (2023년 06월).csv', quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1VXoX1XGLJ-3pMasIsY-IRBfrtAv0oNCq
To: /content/남산도서관 장서 대출목록 (2023년 06월).csv
100%|██████████| 61.9M/61.9M [00:00<00:00, 105MB/s]

'남산도서관 장서 대출목록 (2023년 06월).csv'

In [ ]:
https://drive.google.com/uc?id=1-4OcgJ9F3ZVfBJGWi9Xe9GmocFDylp0M

## 파이썬으로 csv파일 출력하기

In [ ]:
with open('남산도서관 장서 대출목록 (2023년 06월).csv') as f:
  print(f.readline())

UnicodeDecodeError: ignored

## 파일 인코딩 형식 확인
- chardet.detect()함수사용

In [ ]:
# 파일 인코딩 형식 확인을 위해서 chardet패키지 불러오기
import chardet

# 파일 인코딩 형식 확인
with open('남산도서관 장서 대출목록 (2023년 06월).csv', mode='rb') as f:
      d = f.readline()
print(chardet.detect(d))

{'encoding': 'EUC-KR', 'confidence': 0.99, 'language': 'Korean'}

## 인코딩 형식 지정하기

In [ ]:
# 처음 두 줄 출력
# csv파일은 pandas로 읽는 것이 더 편리하나, 파일 크기에 따라 로딩시간이 길고 안 열릴수도 있다 > opne()함수, readline()메소드? 사용해서 처음 몇 줄 출력하는게 더 빠른 방법이기도 함
with open('남산도서관 장서 대출목록 (2023년 06월).csv', encoding = 'EUC-KR') as f:
  print(f.readline())  # 첫번째 줄 : 행(데이터 컬럼)
  print(f.readline())  # 두번째 줄 : 데이터 컬럼에 대한 value

번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,

"1","1분 요리 뚝딱이형","뚝딱이형 (지은이)","길벗","2023","9791140704668","","","","","1","0","2023-06-30",

### pandas로 csv파일 읽기
- csv파일을 한 줄씩 읽어서 데이터를 분석하기 어렵기 때문
- read_csv() 함수 사용

In [ ]:
# pandas패키지 불러오기
import pandas as pd

# csv파일 불러오기
df = pd.read_csv('남산도서관 장서 대출목록 (2023년 06월).csv', encoding = 'EUC-KR')

<ipython-input-5-387380f462b7>:5: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('남산도서관 장서 대출목록 (2023년 06월).csv', encoding = 'EUC-KR')

#### - 5,6,9열의 데이터 타입으로 인한 오류가 발생
#### - **low_memory매개변수**를 **False**로 지정해서 파일을 나누어 읽지 않고 **한 번에 읽기**
##### 메모리 문제로 low_memory매개변수를 사용하지 않을 경우, **dtype매개변수**를 사용하여 경고가 발생했던 5,6,9열에 해당하는 열의 데이터 타입을 지정해줄 수 있음

In [ ]:
# low_memory매개변수 사용
df = pd.read_csv('남산도서관 장서 대출목록 (2023년 06월).csv', encoding = 'EUC-KR', low_memory = False)

___

In [ ]:
# 데이터프레임 처음 다섯 개 행 확인
df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,1분 요리 뚝딱이형,뚝딱이형 (지은이),길벗,2023,9791140704668,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
1,2,그럼에도 왜 사느냐 묻는다면,"미나미 지키사이 (지은이),백운숙 (옮긴이)",서사원,2023,9791168221741,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
2,3,나는 오를 아파트가 좋다,이소라(나땅) (지은이),베가북스,2023,9791192488349,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
3,4,투자 트렌드를 알면 100억이 보인다,"김피비, 곽상빈 (지은이)",마인드셋,2023,9791192579740,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
4,5,いきものづくし ものづくし,"松岡達英,$e廣野?一,$e?野鴻,$e堀川理万子,$e角愼作,$e鈴木周作,$e小西英子",福音館書店,2021,9784834085198,NaN,NaN,12,408,1,0,2023-06-30,NaN

### 데이터프레임을 csv파일로 저장하기
- **to_csv()메서드** 사용
  - to_csv()메서드는 기본적으로 UTF-8형식으로 저장됨(나중에 open()함수로 파일 읽을 때 따로 encoding매개변수 사용안해도 됨)

In [ ]:
df.to_csv('ns_202306.csv')

In [ ]:
# 저장한 csv파일 open()함수로 확인
# readline()메서드를 3번 적는 대신 for문 3번 반복

with open('ns_202306.csv') as f:
  for i in range(3):
    print(f.readline(), end = '')

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,1분 요리 뚝딱이형,뚝딱이형 (지은이),길벗,2023,9791140704668,,,,,1,0,2023-06-30,
1,2,그럼에도 왜 사느냐 묻는다면,"미나미 지키사이 (지은이),백운숙 (옮긴이)",서사원,2023,9791168221741,,,,,1,0,2023-06-30,

In [ ]:
# 저장한 csv파일을 데이터프레임으로 읽기
ns_df = pd.read_csv('ns_202306.csv', low_memory=False)
ns_df.head()

,Unnamed: 0,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,0,1,1분 요리 뚝딱이형,뚝딱이형 (지은이),길벗,2023,9791140704668,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
1,1,2,그럼에도 왜 사느냐 묻는다면,"미나미 지키사이 (지은이),백운숙 (옮긴이)",서사원,2023,9791168221741,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
2,2,3,나는 오를 아파트가 좋다,이소라(나땅) (지은이),베가북스,2023,9791192488349,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
3,3,4,투자 트렌드를 알면 100억이 보인다,"김피비, 곽상빈 (지은이)",마인드셋,2023,9791192579740,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
4,4,5,いきものづくし ものづくし,"松岡達英,$e廣野?一,$e?野鴻,$e堀川理万子,$e角愼作,$e鈴木周作,$e小西英子",福音館書店,2021,9784834085198,NaN,NaN,12,408,1,0,2023-06-30,NaN

### 인덱스가 다시 생성되면서 Unnamed:0'이라는 첫번째 열과 중복됨
### csv파일에 인덱스가 존재한다는 것을 알려주기 위해, **index_col 매개변수**사용
- ns_202306.csv파일에는 첫 번째 열에 인덱스가 있으므로 0으로 지정함
- 애초에 데이터프레임을 csv파일로 저장할 때 인덱스를 빼고 저장할 수도 있음
  - df.to_csv('ns_202306.csv', index= False)

In [ ]:
# index_col매개변수 사용
ns_df = pd.read_csv('ns_202306.csv', index_col = 0, low_memory = False)
ns_df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,1분 요리 뚝딱이형,뚝딱이형 (지은이),길벗,2023,9791140704668,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
1,2,그럼에도 왜 사느냐 묻는다면,"미나미 지키사이 (지은이),백운숙 (옮긴이)",서사원,2023,9791168221741,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
2,3,나는 오를 아파트가 좋다,이소라(나땅) (지은이),베가북스,2023,9791192488349,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
3,4,투자 트렌드를 알면 100억이 보인다,"김피비, 곽상빈 (지은이)",마인드셋,2023,9791192579740,NaN,NaN,NaN,NaN,1,0,2023-06-30,NaN
4,5,いきものづくし ものづくし,"松岡達英,$e廣野?一,$e?野鴻,$e堀川理万子,$e角愼作,$e鈴木周作,$e小西英子",福音館書店,2021,9784834085198,NaN,NaN,12,408,1,0,2023-06-30,NaN